* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 800px) {
  body.menu-open .main-header .nav-bar {
    max-height: 100vh;
  }
}

.main-layout {
  padding: 8px 22.8px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

a:visited {
  color: rgba(170, 16, 16, 0.637);
}

/* FLEX */

.flex {
  display: flex;
}

.flex.flex-col {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-around {
  justify-content: space-around;
}

/* GRID */

.grid {
  display: grid;
}

/* LIST */

.clr-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* COMPENENTS */

/* BODY */

.body-container {
  min-height: 100vh;
}

/* HEADER */
header {
  background-color: #ff7f00;
  height: fit-content;
  color: white;
  font-size: 1.5em;
}

.header-container {
  position: relative;
}

@media (max-width: 800px) {
  .header-container .nav-bar {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    left: 0;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    justify-content: flex-end;
    transition: max-height 0.4s;
  }
  body.menu-open .header-container .nav-bar {
    max-height: 100vh;
  }

  .header-container .nav-bar li {
    text-align: end;
    padding-inline-end: 10px;
    width: 100%;
    background-color: #eb9744;
  }
}

header img {
  width: 140px;
}

header li {
  padding-inline: 10px;
  box-shadow: 0px 0px 0px 0px #964b006e;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

@media (min-width: 801px) {
  .btn-toggle-menu {
    display: none;
  }
}

@media (min-width: 1000px) {
    header li:hover {
        box-shadow: 0px 20px 13px 0px #964b006e;
        border-radius: 5em;
      }
}

/* FOOTER */
footer {
  color: whitesmoke;
  text-align: center;
  background-color: #ff7f00;
  flex-grow: 1;
}

/* GALLERY */

.gallery-container {
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: #e3e3e3;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.gallery-container img {
  width: 100%;
  cursor: pointer;
}

/* EDITOR */
.editor-container {
  display: none;
  background-color: #e3e3e3;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .editor-container {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .editor-container .control-box {
    align-self: stretch;
  }
}

.editor-container .canvas-container {
  aspect-ratio: 1;
  /* height: 100%; */
  max-width: 500px;
  width: 50%;
  position: relative;
}

/* .editor-container .canvas-container > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.editor-container .canvas-container .line-focus {
  border: dotted gray 3px;
} */

.editor-container .control-box {
  flex-basis: 30%;
  align-items: center;
}

.editor-container .control-box-btns {
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  width: 100%;
}

.editor-container button {
  font-size: 1em;
  background-color: white;
  border-radius: 1em;
  margin: 5px 0px;
  box-shadow: 0px 0px 4px black;
  width: 6em;
}

.editor-container input {
  font-size: 1.5em;
  border: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.editor-container a {
  background-color: white;
  margin-top: 20px;
  font-size: 2em;
  border-radius: 2em;
  padding-inline: 20px;
}
